.snackBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .mat-icon{
        font-size: 2rem;
        height: 2rem;
        width: 2rem;
        margin-right: .5rem;
    }
}