/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.success-snackbar,
.error-snackbar {
    background: #292929 !important;
    color: whitesmoke !important;
    position: relative;
    overflow: hidden;
}

.success-snackbar::before,
.error-snackbar::before {
    content: "";
    width: 140px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    left: -40px;
    z-index: -1;
    top: -10px;
    filter: blur(56px);
}

.success-snackbar::before {
    background: #01dc6a;
}

.error-snackbar::before {
    background: #dc0101;
}

.success-snackbar .mat-icon {
    color: #01dc6a;
}

.error-snackbar .mat-icon {
    color: #dc011e;
}

.success-snackbar .btn {
    color: yellow; /* Twój wybrany kolor czcionki */
}
.error-snackbar .btn {
    color: yellow; /* Twój wybrany kolor czcionki */
}